body {
  background-color:#f4f6f6;
  font-family: sans-serif;
  font-size:16px;
  margin-bottom:150px;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1{
  font-size:175%;
  color:#9900cc;
  font-weight:600;
  margin-top:50px;
  margin-bottom:100px;
}

h2{
  font-size:125%;
  font-weight:400;
  padding:5px 20px 5px 20px;
  text-align:center;
  
}

.dummy-text{
  float:left;
  padding:10px 20px 10px 20px;
  margin-top:30px;
}

p{
  color:#000;
 
}

.col-lg-4, .col-md-6, .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12{
  float:left;
  position:relative;
  display:flex;
} 

#box1{
  background-color:#ebf5fb;
}

#box2{
  background-color:#fef5e7;
}

#box3{
  background-color:#f5eef8;
}

/*
#box1 h2{
  background-color:#2e86c1;
  color:#fff;
}

#box2 h2{
  background-color:#f39c12;
  color:#fff;
}

#box3 h2{
  background-color:#76448a;
  color:#fff;
}
*/
.row{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*navigation menu*/
#header-nav{
   background-color:#f312a0;
   color:#fff;
   padding-top: 15px;
}

.navbar-brand h1{
  color:#fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-default .navbar-collapse{
  background-color:#fedbdb;
}

#nav-list li{
  text-align:center;
  
}
#nav-list li:hover{
  background-color:#fff;
  
}
#nav-list li a{
  color:#4b3054;
}


#nav-list li a:hover{
  color:#ccc;
}

.block-contents{
    position:relative;
    margin: 10px;
    /*border: 1px solid;*/
    line-height: normal;
    float: left;
}

@media(min-width: 992px) {
 
}

@media(min-width: 768px) and (max-width: 991px){
   
 
}

@media(max-width: 767px){
  
}
