body {
  background-color:#f4f6f6;
  font-family: sans-serif;
  font-size:16px;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1{
  font-size:175%;
  color:#9900cc;
  font-weight:600;
  text-align: center;
  margin-top:50px;
  margin-bottom:100px;
}

h2{
  font-size:125%;
  color:#330066;
  font-weight:400;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  width: fit-content;
  padding:5px 10px 5px 10px;
  float:right;
  margin-bottom:10px;
  
}

.dummy-text{
  float:left;
   padding:10px 20px 10px 20px;
}

p{
  color:#000;
 
}

.col-lg-4, .col-mg-6, .col-mg-12, .col-sm-12{
  float:left;
  border-style: solid;
  border-width: 1px;
} 

#box1{
  background-color:#ebf5fb;
}

#box2{
  background-color:#fef5e7;
}

#box3{
  background-color:#f5eef8;
}


@media(min-width: 992px) {
  .col-lg-4{
    width:28%;
    margin-left:4%;
  }
  #box3{
    margin-right:4px;
  }
 
}

@media (min-width: 768px) and (max-width: 991px){
  .col-mg-6{
    width:44%
    margin-left:4%;
  }
  #box2{
    margin-right:4px;
  }

  .col-mg-12{
    width:92%
    margin-left:4%;
    margin-right:4%;
  }
}

@media (max-width: 767px){
  .col-sm-12{
    width:92%
    margin-left:4%;
    margin-right:4%;
  }
}

